/*
Theme Name: Pylon child
Tags: custom-menu, editor-style, featured-images
Template: pylon
Text Domain: pylon
Version: 1.0.0
*/

/---------------------------------
write your css from here
------------------------------------/

